<p-card>
    <ng-template pTemplate="title">Passo 2: Escolha sua Classe</ng-template>

    <div class="field mb-4">
        <label class="block mb-2 font-semibold">Classe</label>
        <p-dropdown [options]="classes" [ngModel]="selectedClass" (ngModelChange)="classChange.emit($event)" 
                    optionLabel="name" placeholder="-- Escolha uma Classe --" [showClear]="true" styleClass="w-full"></p-dropdown>
    </div>

    <div *ngIf="selectedClass as sClass" class="mt-4 p-4 border rounded-lg bg-gray-50 text-sm space-y-2">
        <p class="italic">{{ sClass.description }}</p>
        <p><strong class="font-semibold text-red-700">Dado de Vida:</strong> d{{ sClass.hitDie }}</p>
        <p><strong class="font-semibold text-red-700">Habilidade Primária:</strong> {{ sClass.primaryAbility.join(', ') }}</p>
        <p><strong class="font-semibold text-red-700">Resistências:</strong> 
            <span *ngFor="let prof of sClass.savingThrowProficiencies; let last = last">
                {{ getAbilityTranslation(prof).name }}{{ last ? '' : ', ' }}
            </span>
        </p>
        <div>
            <strong class="font-semibold text-red-700">Proficiências:</strong>
            <ul class="list-disc list-inside ml-4">
                <li *ngFor="let prof of sClass.armorAndWeaponProficiencies">{{ prof }}</li>
            </ul>
        </div>
        <div *ngIf="sClass.features && sClass.features.length > 0" class="pt-2 mt-2 border-t">
            <strong class="font-semibold text-red-700">Características de Nível 1:</strong>
            <ul class="list-disc list-inside ml-4">
                <li *ngFor="let feature of sClass.features"
                    class="cursor-help hover:text-red-500"
                    [pTooltip]="feature.description"
                    tooltipPosition="right"
                    appendTo="target"
                    tooltipStyleClass="w-auto max-w-xs text-left"
                    [showDelay]="250">
                    {{ feature.name }}
                </li>
            </ul>
        </div>
    </div>
</p-card>